<h2>Log In</h2>

<%= bootstrap_form_tag url: sessions_path, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-4" do |f| %>
    <%= f.text_field :email, lable: "Email" %>
    <%= f.password_field :password, lable: "Password" %>
    <%= f.submit "Log In" %>
<% end %>