<h1>Search show</h1>

<table>
  <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.text %></td>
      </tr>
  <% end %>
</table>

<%= button_to "Search Again", search_index_path, method: "get" %>