<h2>Search show</h2>

<table>
  <% if @results.blank? %>
      <h3>Sorry. We could not find any results that match the key words...</h3>
  <% else %>
      <% @results.each do |result| %>
          <tr>
            <td><%= result.text %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= button_to "Search Again", search_index_path, method: "get" %>